# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env
.env.*

# Dagster
dagster_storage/
.dagster/
storage/
*.db

# OS / editor
.DS_Store
.idea/
.vscode/
*.swp

# Logs
*.log

# Secrets
*.pem
*.key
*.crt
